/team-nexgen.business/obj
/team-nexgen.business/bin
/team-nexgen.com.Web/obj
/team-nexgen.com.Web/bin
/team-nexgen.data/obj
/team-nexgen.data/bin
/team-nexgen.models/obj
/team-nexgen.models/bin
/Deploy
/packages
